<body>
    

<div class="parent">
    <div class="slider-container">
        <div class="slider">
          <img src="/images/masjid-1.jpg" alt="Image 1">
          <img src="/images/masjid-2.jpg" alt="Image 2">
          <img src="/images/masjid-3.jpeg" alt="Image 3">
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
      
    <div class="prayer-times">
        <h2>Islamic Prayer Times - Cyberjaya</h2>
        <ul>
          <li>Fajr: {{ prayerTimes.Fajr }}</li>
          <li>Sunrise: {{ prayerTimes.Sunrise }}</li>
          <li>Dhuhr: {{ prayerTimes.Dhuhr }}</li>
          <li>Asr: {{ prayerTimes.Asr }}</li>
          <li>Maghrib: {{ prayerTimes.Maghrib }}</li>
          <li>Isha: {{ prayerTimes.Isha }}</li>
        </ul>
      </div>
      
    <div class="div3">HELLLLOOOOOOOO</div>
</div>

</body>