header {
    background-color: rgb(60, 29, 29);
}

header h1,
p {
    padding-left: 50px;
}

.language-selector {
    background-color: rgb(169, 178, 178);
    display: flex;
    justify-content: end;
    /* Moves content to the right */
    align-items: center;
    /* Align items vertically */
    margin-left: auto;
    /* Pushes it to the right */
    padding-right: 30px;
}

.logo img {
    height: 100px;
    padding-left: 50px;
    padding-top: 20px;
}

/* Hide the dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

/* Show dropdown when hovering over the parent */
.dropdown:hover .dropdown-menu {
    display: block;
}